LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL_ID=
LLM_STRUCTURED_METHOD=manual_json
LLM_TRACE=1
LLM_REQUEST_TIMEOUT=45
MAX_QUALITY_ATTEMPTS=2
BATCH_CARD_GENERATION=1
USE_LLM_QUALITY_CHECK=0
USE_LLM_CARD_REVISION=0
ANKI_CONNECT_URL=http://localhost:8765
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8008
BACKEND_RELOAD=0
AI_ANKI_API_BASE=http://127.0.0.1:8008
